.woocommerce-page {

	.woocommerce {
		margin-bottom: 5em;

		form .form-row label {
			line-height: 1.3;
            padding-top: 1.3em;
		}
	}

	form {
		//padding-left: 50px;
	    max-width: 524px;
	}

	p.form-row {
		width: 100%;
	}

	strong {
		font-weight: 400;
	}

	a {
		color: $main-blue;

		&:hover {
			color: darken($main-blue, 20%);
			text-decoration: underline;
		}
	}

	input[type=email]:focus, 
	input[type=password]:focus, 
	input[type=search]:focus, 
	input[type=tel]:focus, 
	input[type=text]:focus, 
	textarea:focus {
    	border-color: $blue;
	}

	label,
	fieldset label {
		display: inline-block;
		color: $med-gray;
		font-family: $base-font-sans-serif;
		float: left;
		width: 30.91%;
	}

	.woocommerce #respond input#submit, 
	.woocommerce a.button, 
	.woocommerce button.button, 
	.woocommerce input.button,
	 {
		background: $green;
		color: #fff;
		max-width: 232px;
		padding: 14px 48px;
		@extend %buttons;
	}

	.woocommerce input.button:disabled, 
	.woocommerce input.button:disabled[disabled] {
		padding: 14px 48px;
	}

	a.button,
	input.button,
	input.button.alt,
	a.button.alt {
		font-family: $base-medium-font-sans-serif;
		font-weight: normal;

		&:hover {
			background: darken($green, 15%);
		}
	}

	a.button.delete {
		background: $project-text;
		
		&:hover {
			background: darken($project-text, 10%);
		}
	}

	.required {
		font-weight: normal!important;
		font-size: $font-required;
		display: block;
		color: $gray3!important;
		line-height: 0.8;
		text-decoration: none;
	}

	mark {
		background: none;
		color: $med-gray;

		&.order-status {
			text-transform: lowercase;
		}
	}

	address {
		font-style: normal;
		line-height: 1.8;
    	padding: 1em 20px;
	}

}

.woocommerce-account .woocommerce-MyAccount-content {
	float: left;
	// font-family: $base-font-sans-serif;
	width: 83%;
	max-width: 718px;
	padding-left: 50px;
}

.woocommerce-account.woocommerce-page,
.woocommerce-checkout {

	form .form-row {

		input,
		select,
		fieldset input {
			display: inline-block;
			font-family: $base-medium-font-sans-serif;
			border: 1px solid $input-border;
			border-radius: $border-radius;
			margin-top: 0.2em;
			padding: 1em;
			width: 69%;
		}

		.select2-selection__rendered {
			font-family: $base-medium-font-sans-serif;
		}
	}
}
